@import "common";
/**css reset*/
html{margin: 0 auto}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin: 0; padding: 0; }
body, button, input, select, textarea { font-family: "Helvetica neue", sans-serif,Arial, "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei"}
pre { white-space: pre-wrap; /* css-3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* Internet Explorer 5.5+ */ }
input, button, select, textarea { outline: none;-webkit-appearance:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
h1, h2, h3, h4, h5, h6 {font-size: 100%; }
i,em{ font-style: normal; }
a { text-decoration: none; background:transparent;-webkit-tap-highlight-color: transparent;}
a:focus { outline: none; }
.main a:hover { text-decoration: underline; }
a span, a img { cursor: pointer; }
fieldset, img { border: 0; }
ul.nolist,ul { list-style: none; }
ul.nolist li,ul li { list-style: none; }
img{vertical-align: middle;}
html,body{height:100%;background-color: #f9f9f9;}
*{-webkit-overflow-scrolling : touch;}


/*浮动*/
.fl { float:left; }
.fr { float:right; }

/**清除浮动**/
.clearFix:before, .clearFix:after { display: table; content: ""; }
.clearFix:after { clear: both; }
.clearFix { *zoom: 1; }

input[type="text"]{
  max-width:100%;
  height:rem(80);
  text-indent:rem(20);
  line-height:rem(80);
  border:1px solid #e5e5e5;
  border-radius:rem(10);
  background-color:#fff;
  font-size:rem(28);
}

/*图标字体基础大小*/
.iconfont{
  font-size: rem(28);
}
.hasFixed{
  padding-top: rem(110);
}
/*loading动画*/
.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  text-align: center;
  z-index: 99999;
  .line-scale-pulse-out{
    position: absolute;
    width: 100%;
    height: 12rem;
    left: 0;
    top: 50%;
    margin-top: -10rem;
    img{
      width: 12rem;
    }
    &>span{
      font-size: 1.2rem;
      color: #eb303e;
      display: block;
      margin-top: .5rem;
      position: relative;
      top: -1.2rem;
    }
  }
}
/*btn*/
.btn {
  display: inline-block;
  height:rem(80);
  min-width:rem(300);
  padding: rem(16) rem(20);
  vertical-align: baseline;
  margin-bottom: 0;
  font-size: rem(28);
  font-weight: normal;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: rem(10);
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
}
.btn.primary{
  background-color:$baseColor;
  color:#fff;
}
button[disabled],.btn[disabled]{
  background: #f8f8f8;
  border: 1px solid #bbb;
  color: #333;
}
.btn-danger {
  color: #fff;
  border-color: $baseColor;
  background-color: $baseColor;
}

//confirmation
._confirm{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  z-index: 99999;
  background-color: rgba( 50,50,50,0.5);

  -webkit-user-select: none;  /* Chrome all / Safari all */
  user-select: none;

  ._confirm-frame{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);

    width: 27rem;
    border-radius: 1rem;
    background-color: white;

    ._confirm-text{
      padding: 2rem;
      &>p{
       text-align: center;

        &._c-main-text{
          font-size: 1.5rem;
          line-height: 2rem;
        }
        &._c-vice-text{
          font-size: 1.1rem;
          line-height: 1.5rem;

          padding-top: 0.5rem;
        }
      }
    }
    ._confirm-operate{
      position: relative;
      overflow: hidden;
      &::before{
        content: ' ';
        position: absolute;
        top: 0;
        left: -50%;
        width: 200%;
        height: 0;
        border-top: 1px solid #dadade;
        -webkit-transform: scale(0.5,1);
        -moz-transform: scale(0.5,1);
        -o-transform: scale(0.5,1);
        transform: scale(0.5 ,1);
      }
      span{
        float: left;
        width: 50%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 4.4rem;

        color: #007aff;
        @include box-sizing;
        &:nth-child(1){
          //border-right: 1px solid #dadade;
          border-bottom-left-radius: 1rem;

          position: relative;

          &::after{
            content: ' ';
            position: absolute;
            top: -50%;
            right: 0;
            width: 0;
            height: 200%;
            border-right: 1px solid #dadade;
            -webkit-transform: scale(1,0.5);
            -moz-transform: scale(1,0.5);
            -o-transform: scale(1,0.5);
            transform: scale(1 ,0.5);
          }
        }
        &:nth-child(2){
          border-bottom-right-radius: 1rem;
        }
        &:active{
          background-color: #dddddd;
        }
      }
    }
  }
}.hide{display: none}